/* RESET CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Lato;
}

.main-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#canvas {
    /* background-color: red; */
    border: 2px solid black;
}

.p-1 {
    padding: 1rem;
}

.p-half {
    padding: 0.5rem;
}
.p-2 {
    padding:2rem;
}
.flex-container {
    display:flex;
    flex-wrap: wrap;
}
.flex-left {
    flex: 65%;
}

.flex-right {
    flex: 35%;
}

.flex-one-third {
    flex: 33%;
}

.flex-half {
    flex: 50%;
}

.slidecontainer {
  width: 100%; /* Width of the outside container */
}

.btn {
    background-color: purple;
    cursor: pointer;
    color: white;
    padding: 0.5rem 1rem;
    text-align: center;
    font-size:16px;
    
    
}

.help {
    background-color:lightgrey;
    padding: 1rem;
    
}
